* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --white: white;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

header {
    background-color: rgba(16, 14, 46, 0.885);
    top: 0;
    border-radius: 0 0 10px 10px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

a {
    color: inherit;
}

.img-header {
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    width: 15%;
}

.brotherpic {
    margin: 3%;
    border-radius: 30px;
    width: 100%;
}

.header-text {
    color: var(--white);
    margin-top: 20px;
    text-align: center;
}

.header-list {
    list-style: none;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-list li > a {
    text-decoration: none;
}

#fswd {
    font-size: 16px;
}


@media screen and (max-width: 992px) {

}

@media screen and (max-width:768px) {
    .brotherpic {
        display: none;
    }
    .header-list {
        
    }
}