/* Here I set some variables for colors so I can use them later without repeating the rgb. */

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --white: white;
    --darkp: rgba(16, 14, 46, 0.885);
    --lightp: rgba(148, 142, 231, 0.885);
    --blue: rgb(34, 76, 135);
    margin: 0;
    padding: 0;
}

/* I set tge height and width for the users device, add a scroll behavior to make it seem less cluncky, and remove the side scrolling bar. */

html {
    height: 100%;
    width: 100%;
    background-color: rgb(213, 213, 213);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
}

/* I set the header to the very top, use one of my color vars, set my flexbox for the header, and add a slight round to the bottom of the header */

.header {
    background-color: var(--darkp);
    top: 0;
    border-radius: 0 0 10px 10px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.img-header {
    min-width: 0;
    min-height: 0;
    width: 15%;
}

/* setting the img size, and border around it*/

.brotherpic {
    margin: 3%;
    border-radius: 30px;
    width: 100%;
}

.header-text {
    color: var(--white);
    margin-top: 20px;
    text-align: center;
}

/* Here is where i set my nav menu, using my vars for color, aligning them in the correct position using flex, some margin, and adding a slight transition so that when you over it transitions smoothly */

.header-list {
    list-style: none;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    transition: .3s;
    scroll-behavior: smooth;
}

.header-list li > a:hover {
    text-decoration: none;
    color: var(--lightp);
    transition: .2s;
}

#fswd {
    font-size: 16px;
}
/* Sets the first mini-header to be in the center of everything, and sets my colors to the variables i set at the top */
.bodyheader {
   border: 4px solid var(--darkp); 
   margin-top: 40px;
   width: 50%;
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
   padding: 20px;
   color: var(--lightp);
   font-size: 22px;
   border-radius: 5px;
}

.article {
    margin: 30px;
    line-break: auto;
}

/* Very similar to the body headers, just adjusting colors/size to better fit the webpage */

.workheader {
    border: 4px solid var(--darkp);
    margin: 16px;
    text-align: center;
    border-radius: 5px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    color: var(--blue)
}

.workimg {
    width: 100%;
}

/* setting my form options, making sure to get rid of the god awful yellow outline */

.form {
    margin: 10px;
    text-align: center;
    color: var(--blue);
}

input:focus {
  outline: none;
}

.footer {
    position: relative;
    background-color: var(--darkp);
    margin-top: 30px;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    color: var(--white);
    text-align: center;
}
 
.icon {
    width: 50px;
    height: 50px;
    margin: 1%;
}

/* Sets the font size bigger with more separation when viewed on a desktop */
@media screen and (min-width: 992px) {
    h1 {
        font-size: 46px;
        margin-bottom: 10px;
    }
}
/* This sets, when the width of device is less than 768px wide */
@media screen and (max-width:768px) {
    /* This removes the picture to help avoid too much content */
    .brotherpic {
        display: none;
    }
    /* This sets the nav menu options to be inline with the header text */
    .header {
        flex-direction: column;
    }
    /* Adding some margin to help it space more evenly */
    .header-list {
        margin: 5px;
    }
    .header-text {
        margin-top: 3px;
    }
}